@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

html {
font-size: 62.5%;
}

@media (max-width: 62.5em) {
html {
font-size: 55%;
}
}

body {
font-family: 'Inter', sans-serif;
}
}

@layer components {
.heading {
@apply text-gunmetal font-semibold leading-heading;
}
}



